/* Define the container for the grid */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
.grid {
  width: 100%;
  display: block;
  padding: 0;
  /* Tablet  */
  /* PC low resolution */
}
.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}
.grid .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -4px;
}
@media (min-width: 740px) {
  .grid .row {
    margin: 0 -8px;
  }
}
.grid .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 4px;
}
.grid .c-0 {
  display: none;
}
.grid .c-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 833.333%;
          flex: 0 0 833.333%;
  max-width: 833.333%;
}
.grid .c-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1666.666%;
          flex: 0 0 1666.666%;
  max-width: 1666.666%;
}
.grid .c-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2499.999%;
          flex: 0 0 2499.999%;
  max-width: 2499.999%;
}
.grid .c-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3333.332%;
          flex: 0 0 3333.332%;
  max-width: 3333.332%;
}
.grid .c-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4166.665%;
          flex: 0 0 4166.665%;
  max-width: 4166.665%;
}
.grid .c-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4999.998%;
          flex: 0 0 4999.998%;
  max-width: 4999.998%;
}
.grid .c-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5833.331%;
          flex: 0 0 5833.331%;
  max-width: 5833.331%;
}
.grid .c-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6666.664%;
          flex: 0 0 6666.664%;
  max-width: 6666.664%;
}
.grid .c-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 7499.997%;
          flex: 0 0 7499.997%;
  max-width: 7499.997%;
}
.grid .c-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8333.33%;
          flex: 0 0 8333.33%;
  max-width: 8333.33%;
}
.grid .c-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9166.663%;
          flex: 0 0 9166.663%;
  max-width: 9166.663%;
}
.grid .c-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9999.996%;
          flex: 0 0 9999.996%;
  max-width: 9999.996%;
}
@media (min-width: 740px) and (max-width: 1023px) {
  .grid.wide {
    width: 644px;
  }
  .grid.wide .row {
    margin: 0 -4px;
  }
}
@media (min-width: 1024px) and (max-width: 1239px) {
  .grid.wide {
    width: 984px;
  }
  .grid.wide .row {
    margin: 0 -12px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* set 1rem = 10 px  */
  line-height: 1.5rem;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border-radius: 6rem;
  text-align: center;
  padding: 1.5rem 3rem;
  letter-spacing: 2px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header {
  position: absolute;
  z-index: 5;
  background-color: #f0f0f0;
  width: 100%;
}
.header .header-bg {
  position: absolute;
  z-index: 4;
}
.header .header-bg .header-logo-placeholder {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 25vw;
}
.header .header-bg .header-bg-left {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  min-width: 1000px;
  width: 92vw;
}
.header .header-bg .header-bg-right {
  position: absolute;
  left: -140px;
  top: -25vh;
  z-index: 1;
  width: 105vw;
}
.header .navigation {
  padding: 0 50px;
  position: relative;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .navigation .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}
.header .navigation .nav-center {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  padding: 0 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  color: #58468c;
  font-size: 1.6rem;
  letter-spacing: 0.085em;
  line-height: 23px;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header .navigation .nav-center .tablet-logo {
  display: none;
}
.header .navigation .nav-center .nav-center-item {
  padding: 20px 30px;
}
.header .navigation .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
}
.header .navigation .nav-right .nav-right-content {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.header .navigation .nav-right .nav-right-content .shopping-cart,
.header .navigation .nav-right .nav-right-content .search-btn,
.header .navigation .nav-right .nav-right-content .modal-btn {
  height: 100%;
  line-height: 100%;
  color: #58468c;
}
.header .navigation .nav-right .nav-right-content .shopping-cart {
  position: relative;
}
.header .navigation .nav-right .nav-right-content .shopping-cart .shopping-cart-icon {
  font-size: 4rem;
  position: relative;
}
.header .navigation .nav-right .nav-right-content .shopping-cart .shopping-cart-icon .shopping-cart-badge {
  top: -9px;
  right: -16px;
  position: absolute;
  width: 25px;
  text-align: center;
  height: 25px;
  border-radius: 50%;
  background-color: #ff8a73;
  font-size: 2rem;
  display: block;
  line-height: 25px;
  color: #f0f0f0;
}
.header .navigation .nav-right .nav-right-content .search-btn .search-btn-icon {
  display: block;
  font-size: 4rem;
}
.header .navigation .nav-right .nav-right-content .modal-btn {
  background-color: #58468c;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  text-align: center;
}
.header .navigation .nav-right .nav-right-content .modal-btn .modal-btn-icon {
  display: block;
  font-size: 3rem;
  line-height: 50px;
  color: #f0f0f0;
}

@media (min-width: 800px) and (max-width: 1024px) {
  .header .navigation .nav-left .header-logo {
    display: none;
  }
}
@media (min-width: 48em) and (max-width: 80em) {
  .header .navigation .nav-left {
    display: none;
  }
  .header .navigation .nav-right {
    display: none;
  }
  .header .navigation .nav-center {
    width: 100%;
    margin-top: 360px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .navigation .nav-center .tablet-logo {
    width: 100%;
    position: relative;
    padding: 0 23px;
  }
  .header .navigation .nav-center .tablet-logo .menu-toggle {
    position: absolute;
    float: left;
    width: 40px;
    font-size: 3.4rem;
    display: block;
  }
  .header .navigation .nav-center .tablet-logo .img-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.banner {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.banner .banner-bg {
  position: absolute;
  top: 15%;
  left: 5%;
  min-width: 1250px;
  height: 75%;
  background-size: cover;
  background-position: center;
}
.banner .banner-bg .banner-bg-img {
  position: absolute;
}
.banner .banner-bg img:not(:nth-child(3)) {
  width: 80px;
}
.banner .banner-bg img:nth-child(1) {
  /* Styles for the first image */
  top: 20px;
  right: 300px;
}
.banner .banner-bg img:nth-child(2) {
  /* Styles for the second image */
  bottom: 20px;
  left: 200px;
}
.banner .banner-bg img:nth-child(3) {
  /* Styles for the third image */
  top: 20px;
  left: 0px;
  width: 350px;
}
.banner .banner-bg img:nth-child(4) {
  /* Styles for the fourth image */
  top: -50px;
  left: 800px;
}
.banner .banner-bg img:nth-child(5) {
  /* Styles for the fifth image */
  bottom: 27px;
  right: 50px;
}
.banner .banner-bg img:nth-child(6) {
  /* Styles for the sixth image */
  right: 0px;
  top: 200px;
}
.banner .banner-bg img:nth-child(7) {
  /* Styles for the seventh image */
  bottom: -40px;
  right: 600px;
}
.banner .banner-bg img:nth-child(8) {
  /* Styles for the eighth image */
  top: 17px;
  left: 500px;
}
.banner .banner-content {
  position: absolute;
  top: 50%;
  left: 65%;
  width: 600px;
  -webkit-transform: translate(-70%, -60%);
          transform: translate(-70%, -60%);
  text-align: center;
  color: #333; /* Example text color */
  padding: 20px;
  padding-top: 50px;
  max-width: 80%; /* Adjust maximum width as needed */
  white-space: nowrap;
}
.banner .banner-content .banner-title {
  font-size: 7rem;
  color: #58468c;
  font-weight: 100;
  padding: 0 20px;
}
.banner .banner-content .banner-desc {
  font-size: 2rem;
  line-height: 5rem;
  margin-bottom: 20px;
  color: #716C80;
  margin-bottom: 5rem;
}
.banner .banner-content .btn-readmore,
.banner .banner-content .btn-contact {
  padding: 1rem 2rem;
  border-radius: 4rem;
  font-size: 2rem;
}
.banner .banner-content .btn-readmore {
  background-color: #ff8a73;
}
.banner .btn {
  /* Add styles for the buttons */
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Example button background color */
  color: #fff; /* Example button text color */
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px; /* Example margin */
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; /* Example transition */
}
.banner .btn:hover {
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .banner .banner-bg {
    top: 5rem;
    left: -15rem;
  }
}
@media (min-width: 1037px) and (max-width: 1200px) {
  .banner .banner-bg {
    top: 10rem;
    left: -10rem;
  }
}