// _header.scss

.header {
  position: absolute;
  z-index: 5;
  background-color: $white-color; // Use background color variable
  width: 100%;
  .header-bg {
    position: absolute;
    z-index: 4;
    .header-logo-placeholder {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      width: 25%;
      width: 25vw;
    }

    .header-bg-left {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      min-width: 1000px;
      width: 92vw;
    }

    .header-bg-right {
      position: absolute;
      left: -140px;
      top: -25vh;
      z-index: 1;
      width: 105vw;
    }
  }

  .navigation {
    padding: 0 50px;
    position: relative; 
    z-index: 6;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: $nav-height;
    align-items: center;

    .nav-left {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 25%;
      padding-right: 20rem;
    }

    .nav-center {
      flex: 0 1 50%;
      padding: 0 23px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      color: $purple-color;
      font-size: 1.6rem;
      letter-spacing: 0.085em;
      line-height: 23px;
      text-transform: uppercase;
      font-weight: 500;
      box-sizing: border-box;

      .tablet-logo {
        display: none;
      }

      .nav-center-item {
        padding: 20px 30px;
      }
    }

    .nav-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 0 0 25%;
      height: 100%;
      .nav-right-content{
        width: 200px;
        display: flex;
        padding-left: 0;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        .shopping-cart, .search-btn, .modal-btn{
          height: 100%;
          line-height: 100%;
          color: $purple-color;
          
        }
        .shopping-cart {
          position: relative;
          
          .shopping-cart-icon {
            font-size: 4rem;
            position: relative;
            .shopping-cart-badge {
              top: -9px;
              right: -16px;
              position: absolute;
              width: 25px;
              text-align: center;
              height: 25px;
              border-radius: 50%;
              background-color: #ff8a73;
              font-size: 2rem;
              display: block;
              line-height: 25px;
              color: #f0f0f0;
            }
          }
         
        }
        .search-btn {
          .search-btn-icon {
            display: block;
            font-size: 4rem;
          }
        }
        .modal-btn {
          background-color: $purple-color;
          width: 50px;
          height: 50px;
          border-radius: 4px;
          text-align: center;
          .modal-btn-icon {
            display: block;
            font-size: 3rem;
            line-height: 50px;
            color: $white-color;
          }
        }
      }
    
    }
  }
}

//Media queries...
